---
permalink: /presentations/TEMPLATE
---

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/reveal.js/dist/reveal.css" />
  <!-- <link rel="stylesheet" href="https://unpkg.com/reveal.js/dist/theme/solarized.css" /> -->
  <link rel="stylesheet" href="solarized-custom.css">
  <title>TEMPLATE_TITLE</title>
  <meta name="citation_title" content="TEMPLATE_TITLE">
  <meta name="citation_author" content="Lavengood, Megan L.">
  <meta name="citation_conference_title" content="TEMPLATE_CONF">
  <meta name="citation_abstract" content="TEMPLATE_ABSTRACT">
  <meta name="citation_date" content="TEMPLATE_DATE">
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <section data-markdown="TEMPLATE" data-separator="^\n---\n" data-separator-vertical="^\n--\n" data-separator-notes="^Note:" data-auto-animate>
      </section>
    </div>
  </div>
  <script src="https://unpkg.com/reveal.js/dist/reveal.js"></script>
  <script src="https://unpkg.com/reveal.js/plugin/markdown/markdown.js"></script>
  <script src="https://unpkg.com/reveal.js/plugin/notes/notes.js"></script>
  <script>
    Reveal.initialize({
      plugins: [RevealMarkdown, RevealNotes],
      slideNumber: true,
    });
  </script>
</body>

</html>
