/* softer black for text */
div,
li,
td p {
	color: #333;
}

/* use Raleway font for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	color: #333;
}

/* copy Component Header styling for Business theme */
h1 {
	margin: 0px;
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
	margin-top: 1em;
	border-bottom: none;
	flex-direction: row;
	-webkit-flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
}

/* more space before an h2, but not the table of contents h2 */
h2:not(.toc h2) {
	margin-top: 2em;
}

/* container should become no more than 600px wide, and should be centered on the page */
div.max-w-600 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

/* text a little bigger if lead */
.lead {
	font-size: 130%;
}

.text-center {
	text-align: center;
}

/* level 1 headings in uppercase */
h1 {
	text-transform: uppercase;
}

/* a little more space between lines of a paragraph or list element */
p,
li {
	line-height: 1.4;
}

/* add space under divs */
div {
	margin-bottom: 2em;
}

/* -----Tables------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

th,
td {
	padding: 6px 13px;
}

tbody tr {
	background-color: #fff;
	border-bottom: 2px solid #333;
}

/* highlight row on hover */

tbody tr:hover td {
	background-color: rgba(224, 142, 69, 0.5);
}

/* header row styling */

th {
	text-transform: uppercase;
	background-color: #01519b;
	color: #fff;
	padding: 0.5em;
	font-size: 1.15em;
	font-weight: bold;
	word-break: normal;
}

/* banded rows */

tr:nth-child(2n) {
	background-color: #eee;
}

/* ----Text boxes----- */

/* alert text box */
div.alert {
	background-color: rgba(224, 142, 69, 0.3);
	margin-bottom: 2em;
	padding: 1em;
	border-left: 3px solid #e08e45;
}

/* table of contents links darker blue */
div.toc a {
	color: #01519b;
}

/* table of contents box: blue background, not full-width */
div.toc {
	background-color: rgba(1, 81, 155, 0.3);
	padding: 1em;
	width: fit-content;
	display: block;
}

/* smooth scroll to anchor links */

div {
	scroll-behavior: smooth;
}

/* float right but only on large screens */

@media screen and (min-width: 768px) {
	.float-right {
		float: right;
	}
}
